@model Core.Data.Models.UserProfileViewModel.UserProfileCRUDViewModel

<div class="card card-primary card-outline card-tabs">
    <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="Tab01Edit" data-toggle="pill" href="#divTab01Edit" role="tab"
                    aria-controls="Tab01Edit" aria-selected="true">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Tab02Edit" data-toggle="pill" href="#divTab02Edit" role="tab" aria-controls="Tab02Edit"
                    aria-selected="true">Employee Details</a>
            </li>
        </ul>
    </div>
    <form id="ApplicationUserForm">
        <div class="card-body">
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="divTab01Edit" role="tabpanel" aria-labelledby="divTab01Edit">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" id="Id" />
                            <input type="hidden" asp-for="ApplicationUserId" id="ApplicationUserId" />
                            <input type="hidden" id="CurrentURL" asp-for="CurrentURL" />

                            <div class="row">
                                <div class="col-6 col-sm-6">
                                    <div class="form-group row">
                                        <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input asp-for="FirstName" class="form-control" id="FirstName"
                                                type="text" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input asp-for="LastName" class="form-control" id="LastName" type="text" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="EmployeeTypeId" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <select asp-for="EmployeeTypeId" asp-items="@ViewBag.ddlEmployeeType"
                                                id="EmployeeTypeId" class="form-control" style="width:100%;">
                                                <option disabled selected>--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="EmployeeTypeId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label asp-for="PhoneNumber" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber"
                                                type="text" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input asp-for="Email" class="form-control" id="Email" type="email"
                                                readonly />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6">
                                    <div class="form-group row">
                                        <label asp-for="Address" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input asp-for="Address" class="form-control" id="Address" type="text" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Country" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input asp-for="Country" class="form-control" id="Country" type="text" />
                                            <span asp-validation-for="Country" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="RoleId" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <select asp-for="RoleId" asp-items="@ViewBag.ddlManageUserRoles" id="RoleId"
                                                class="form-control" style="width:100%;">
                                                <option disabled selected>--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="RoleId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label" for="file">Choose a file :</label>
                                        <div class="col-sm-9">
                                            <span class="control-fileupload">
                                                <input type="file" asp-for="ProfilePictureDetails" />
                                            </span>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input type="button" id="btnSave" value="Save" onclick="SaveUser()"
                                                class="btn btn-info">
                                            <button type="button" id="btnAddEditUserAccountClose" class="btn btn-danger"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="divTab02Edit" role="tabpanel" aria-labelledby="divTab02Edit">
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <div class="form-group row">
                                <label asp-for="EmployeeId" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="EmployeeId" class="form-control" id="EmployeeId" type="text" />
                                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="DateOfBirth" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="DateOfBirth" class="form-control" id="DateOfBirth" type="date" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Designation" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <select asp-for="Designation" asp-items="@ViewBag.ddlDesignation" id="Designation"
                                        class="form-control" style="width:100%;">
                                        <option disabled selected>--- SELECT ---</option>
                                    </select>
                                    <span asp-validation-for="Designation" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Department" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <select asp-for="Department" asp-items="@ViewBag.ddlDepartment" id="Department"
                                        class="form-control" style="width:100%;">
                                        <option disabled selected>--- SELECT ---</option>
                                    </select>
                                    <span asp-validation-for="Department" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="SubDepartment" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <select asp-for="SubDepartment" asp-items="@ViewBag.ddlSubDepartment"
                                        id="SubDepartment" class="form-control" style="width:100%;">
                                        <option disabled selected>--- SELECT ---</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-sm-6">
                            <div class="form-group row">
                                <label asp-for="JoiningDate" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="JoiningDate" class="form-control" id="JoiningDate" type="Date" />
                                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="LeavingDate" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="LeavingDate" class="form-control" id="LeavingDate" type="Date" />
                                    <span asp-validation-for="LeavingDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="IsApprover" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <select asp-for="IsApprover" id="IsApprover" class="form-control">
                                        <option value="1" selected>No</option>
                                        <option value="2">Yes</option>
                                    </select>
                                    <span asp-validation-for="IsApprover" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $('#CurrentURL').val(window.location.pathname);
    $(document).ready(function () {
        $("#EmployeeTypeId").select2();
        $("#RoleId").select2();
        $("#Designation").select2();
        $("#Department").select2();
        $("#SubDepartment").select2();
    });
</script>
