@model Core.Data.Models.DashboardViewModel.SharedUIDataViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="@Url.Action("Index", "Dashboard")" class="brand-link">
        <img src='~/images/UserMSDev.png' alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">@localizer["User Management"]</span>
    </a>

    <div class="sidebar" style="background-color: rgb(34, 11, 11);">
        @if (Model.MainMenuViewModel.UserProfile)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="@Model.UserProfile.ProfilePicture" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="@Url.Action("Index", "UserProfile")" class="d-block">
                        @Model.UserProfile.FirstName @Model.UserProfile.LastName
                    </a>
                </div>
            </div>
        }

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @if (Model.MainMenuViewModel.Dashboard)
                {
                    <li class="nav-item">
                        <a href="@MainMenu.Dashboard.Path" class="nav-link active" style="background-color: rgb(79, 72, 196)">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                @localizer[@MainMenu.Dashboard.PageName]
                                <span class="right badge badge-success">@localizer["New"]</span>
                            </p>
                        </a>
                    </li>
                }
                @if (Model.MainMenuViewModel.UserManagement)
                {
                    <li class="nav-item">
                        <a href="@MainMenu.UserManagement.Path" class="nav-link active" style="background-color: rgb(79, 72, 196)">
                            <i class="nav-icon fas fa-envelope"></i>
                            <p>
                                @localizer[@MainMenu.UserManagement.PageName]
                            </p>
                        </a>
                    </li>
                }
                @if (Model.MainMenuViewModel.ManageUserRoles)
                {
                    <li class="nav-item">
                        <a href="@MainMenu.ManageUserRoles.Path" class="nav-link active" style="background-color: rgb(79, 72, 196)">
                            <i class="nav-icon fas fa-toolbox"></i>
                            <p>
                                @localizer[@MainMenu.ManageUserRoles.PageName]
                            </p>
                        </a>
                    </li>
                }
                @if (Model.MainMenuViewModel.SystemRole)
                {
                    <li class="nav-item">
                        <a href="@MainMenu.SystemRole.Path" class="nav-link active" style="background-color: rgb(79, 72, 196)">
                            <i class="nav-icon fas fa-desktop"></i>
                            <p>
                                @localizer[@MainMenu.SystemRole.PageName]
                            </p>
                        </a>
                    </li>
                }
                @if (Model.MainMenuViewModel.LoginHistory)
                {
                    <li class="nav-item">
                        <a href="@MainMenu.LoginHistory.Path" class="nav-link active" style="background-color: rgb(94, 58, 94)">
                            <i class="nav-icon fas fa-history"></i>
                            <p>
                                @localizer[@MainMenu.LoginHistory.PageName]
                            </p>
                        </a>
                    </li>
                }
                @if (Model.MainMenuViewModel.AuditLogs)
                {
                    <li class="nav-item">
                        <a href="@MainMenu.AuditLogs.Path" class="nav-link active" style="background-color: rgb(94, 58, 94)">
                            <i class="nav-icon fas fa-clock"></i>
                            <p>
                                @localizer[@MainMenu.AuditLogs.PageName]
                            </p>
                        </a>
                    </li>
                }


                @if (Model.MainMenuViewModel.Admin)
                {
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-toolbox"></i>
                            <p>
                                @localizer["System Settings"]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if (Model.MainMenuViewModel.Designation)
                            {
                                <li class="nav-item">
                                    <a href="@MainMenu.Designation.Path" class="nav-link">
                                        <i class="nav-icon fas fa-heart"></i>
                                        <p>@localizer[@MainMenu.Designation.PageName]</p>
                                    </a>
                                </li>
                            }
                            @if (Model.MainMenuViewModel.Department)
                            {
                                <li class="nav-item">
                                    <a href="@MainMenu.Department.Path" class="nav-link">
                                        <i class="nav-icon fas fa-star"></i>
                                        <p>@localizer[@MainMenu.Department.PageName]</p>
                                    </a>
                                </li>
                            }
                            @if (Model.MainMenuViewModel.SubDepartment)
                            {
                                <li class="nav-item">
                                    <a href="@MainMenu.SubDepartment.Path" class="nav-link">
                                        <i class="nav-icon fas fa-desktop"></i>
                                        <p>@localizer[@MainMenu.SubDepartment.PageName]</p>
                                    </a>
                                </li>
                            }
                            @if (Model.MainMenuViewModel.EmailConfig)
                            {
                                <li class="nav-item">
                                    <a href="@MainMenu.EmailConfig.Path" class="nav-link">
                                        <i class="nav-icon fas fa-envelope"></i>
                                        <p>@localizer[@MainMenu.EmailConfig.PageName]</p>
                                    </a>
                                </li>
                            }
                            @if (Model.MainMenuViewModel.EmployeeType)
                            {
                                <li class="nav-item">
                                    <a href="@MainMenu.EmployeeType.Path" class="nav-link">
                                        <i class="nav-icon fas fa-user-clock"></i>
                                        <p>@localizer[@MainMenu.EmployeeType.PageName]</p>
                                    </a>
                                </li>
                            }
                            @if (Model.MainMenuViewModel.CompanyInfo)
                            {
                                <li class="nav-item">
                                    <a href="@MainMenu.CompanyInfo.Path" class="nav-link">
                                        <i class="nav-icon fas fa-users"></i>
                                        <p>@localizer[@MainMenu.CompanyInfo.PageName]</p>
                                    </a>
                                </li>
                            }
                            @if (Model.MainMenuViewModel.IdentitySetting)
                            {
                                <li class="nav-item">
                                    <a href="@MainMenu.IdentitySetting.Path" class="nav-link">
                                        <i class="nav-icon fas fa-user-secret"></i>
                                        <p>@localizer[@MainMenu.IdentitySetting.PageName]</p>
                                    </a>
                                </li>
                            }
                            @if (Model.MainMenuViewModel.EmailSetting)
                            {
                                <li class="nav-item">
                                    <a href="@MainMenu.EmailSetting.Path" class="nav-link">
                                        <i class="nav-icon fas fa-envelope"></i>
                                        <p>@localizer[@MainMenu.EmailSetting.PageName]</p>
                                    </a>
                                </li>
                            }
                            @if (Model.MainMenuViewModel.UserInfoFromBrowser)
                            {
                                <li class="nav-item">
                                    <a href="@MainMenu.UserInfoFromBrowser.Path" class="nav-link">
                                        <i class="nav-icon fas fa-clock"></i>
                                        <p>@localizer[@MainMenu.UserInfoFromBrowser.PageName]</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>

<script>
    var url = window.location;
    $('ul.nav-sidebar a').filter(function () {
        return this.href == url;
    }).addClass('active');

    $('ul.nav-treeview a').filter(function () {
        return this.href == url;
    }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');
</script>